/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', sans-serif;
}

/* common classes */

.container{
    width: 80%;
    margin: 0 auto;

}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.text-white{
    color: white;
}

.btn{
    padding: .7rem 1.4rem;
    border-radius: 40px;
    border: none;
    background-color: white;
}

.big-headline{
    font-size: 2.7rem;
}

.mr-20{
    margin-right: 20px;
}

.mr-10{
    margin-right: 10px;
}

.bg-black{
    background-color: black;
}



/* header */

header{
    height: 80px;
    background-color: rgba(48,96,224,255);
    text-align: center;
    line-height: 80px;
}

.logo img{
    vertical-align: middle;

}

.menu-list{
    width: calc(100% - (124px + 86.81px));
}

div.menu-list .menu li{
    display: inline;
}

div.menu-list .menu li a{
    text-decoration: none;
    margin:10px;
    padding: 10px;

}

.btn-small{
    font-size: 14px;
}

.btn-big{
    font-size: 18px;
}

/* jumbotron */
.jumbotron{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding: 120px 0;

}

.jumbotron-items-wrapper{
    margin: 0 auto;
    text-align: center;
    width: 42%;
}

.jumbotron-text{
    margin: 40px 0 20px;
    line-height: 1.5rem;
}

