/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', sans-serif;
}

/* common classes */

.container{
    width: 80%;
    margin: 0 auto;

}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.text-white{
    color: white;
}

.btn{
    padding: .5rem 1rem;
    border-radius: 40px;
    border: none;
    background-color: white;
}




/* header */

header{
    height: 80px;
    background-color: rgba(48,96,224,255);
    text-align: center;
    line-height: 80px;
}

.logo img{
    vertical-align: middle;

}

.menu-list{
    width: calc(100% - (124px + 74.03px));
}

div.menu-list .menu li{
    display: inline;
}

div.menu-list .menu li a{
    text-decoration: none;
    margin:10px;
    padding: 10px;

}

.log-in-btn{
    font-size: 14px;
}


