/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common classes */

.container{
    width: 90%;
    margin: 0 auto;

}




/* header */

header{
    height: 80px;
    background-color: rgba(48,96,224,255);
    text-align: center;
    line-height: 80px;
}

.logo img{
    vertical-align: middle;

}
